* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Comic Sans MS', cursive, sans-serif;
  background-color: #FFFCF2;
  color: #333;
}

header {
  display: flex;
  align-items: center;
  padding: 15px;
  background-color: #FFD700; /* Sarı */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

header .logo {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  overflow: hidden;
  margin-right: 20px;
}

header img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

header h1 {
  color: #3f21ff;
  font-size: 26px;
}

nav {
  margin-left: auto;
}

nav a {
  color: #e0f6ff;
  text-decoration: none;
  margin: 0 15px;
  padding: 10px 20px;
  font-weight: bold;
  background-color: #FF6F61;
  border-radius: 20px;
  transition: background-color 0.3s ease;
}

nav a:hover {
  background-color: #1E90FF;
}

main {
  padding: 40px 20px;
  max-width: 1000px;
  margin: 40px auto;
  text-align: center;
}

.section {
  margin-bottom: 40px;
  background-color: #FFF;
  padding: 20px;
  border-radius: 16px;
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.15);
  transition: transform 0.3s ease;
  border-left: 8px solid #FF6F61;
}

.section:hover {
  transform: translateY(-5px);
}

.section h2 { 
  color: #FF6F61;
  margin-bottom: 15px;
}

.section p {
  line-height: 1.8;
  margin-bottom: 20px;
  font-size: 18px;
}

.section img {
  max-width: 100%;
  height: auto;
  border-radius: 8px;
  margin-top: 20px;
}

.button {
  display: inline-block;
  padding: 15px 30px;
  font-size: 20px;
  font-weight: bold;
  background-color: #FF69B4;
  color: #FFF;
  text-decoration: none;
  border-radius: 50px;
  transition: background-color 0.3s ease;
}

.button:hover {
  background-color: #FF6F61;
}

/* Diğer CSS kodları burada */

footer {
  background-color: #FF6F61; /* Mavi */
  color: #FFF;
  text-align: center;
  padding: 10px 10px;
  font-size: 16px;
  width: 100%;
  position:relative;
  bottom: 0;
  left: 0;
}


footer p {
  margin: 10px 0;
}

footer .social-icons {
  margin-top: 10px;
}

footer .social-icons a {
  color: #FFF;
  margin: 0 8px;
  font-size: 20px;
  text-decoration: none;
}

footer .social-icons a:hover {
  color: #FFD700; /* Sarı */
}

